# Database
DATABASE_URL="mongodb+srv://..."
NODE_ENV="development"
PORT=13077
BCRYPT_SALT_ROUNDS=12

# Auth
JWT_SECRET="YOUR_JWT_SECRET" 
EXPIRES_IN="365d"
REFRESH_TOKEN_SECRET="YOUR_REFRESH_TOKEN"
REFRESH_TOKEN_EXPIRES_IN="365d"
RESET_PASS_TOKEN="YOUR_TOKEN"
RESET_PASS_TOKEN_EXPIRES_IN="5m"
RESET_PASS_LINK="http://localhost:3001/reset-password"

# URL
FRONTEND_BASE_URL="http://localhost:3000"
CLIENT_URL="http://localhost:3000"

# WhatsApp
WHATSAPP_SESSION_PATH=".wwebjs_auth"

# Firebase (Example)
FIREBASE_TYPE="service_account"
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=""
FIREBASE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_X509_CERT_URL=""
FIREBASE_UNIVERSE_DOMAIN="googleapis.com"

# --- Optional/Examples ---

# SMTP / SendGrid
# smtp_server="smtp.sendgrid.net"
# smtp_port=587
# smtp_user="apikey"
# smtp_pass=""

# Cloudinary
# CLOUDINARY_CLOUD_NAME=""
# CLOUDINARY_API_KEY=""
# CLOUDINARY_API_SECRET=""

# Stripe
# STRIPE_SECRET_KEY=""
# STRIPE_PUBLISHABLE_KEY=""
# STRIPE_ADMIN_ACCOUNT_ID=""
# STRIPE_WEBHOOK_SECRET=""

# Twilio
# TWILIO_ACCOUNT_SID=""
# TWILIO_AUTH_TOKEN=""
# TWILIO_PHONE_NUMBER=""

# DigitalOcean
# DO_SPACE_ENDPOINT=""
# DO_SPACE_ACCESS_KEY=""
# DO_SPACE_SECRET_KEY=""
# DO_SPACE_BUCKET=""
